html {
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 1em auto;
  font: 14pt sans-serif;
  padding: 0.5em;
}

header {
  text-align: center;
  font-size: 2em;
}

h1 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: underline;
  color : #3939c0;
}

h2, h3, h4, h5, h6 {
  margin-top: 60px;
}